# Terraform
**/.terraform/*
# Keep .terraform.lock.hcl committed to lock provider versions
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# macOS
.DS_Store
# Lambda build artifacts
*.zip